{% extends "base.twig" %}

{% block body %}
    <h1>История сообщений</h1>

    <ul>
        {% for msg in messages %}
            <li>{{ msg.getMessage() }}</li>
        {% endfor %}
    </ul>
    <a href="/">Назад</a>
{% endblock %}