{% extends "base.twig" %}

{% block body %}
    <h1>Заспамить пользователей бота</h1>

    {% if errors is not empty %}
        <div style="color: red">При сохранении произошла ошибка</div>
        <ul>
            {% for error in errors %}
                <li>
                    {{ error }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="/send" method="post">
        <div>
            <label>
                Сообщение *
                <input type="text" name="message[message]" value="{{ data.title ?? '' }}">
                {% if errors.title %}
                    <div style="color: red">{{ errors.title }}</div>
                {% endif %}
            </label>
        </div>
        <br>
        <input type="submit" value="SPAM">
    </form>
{% endblock %}
